@page
@using static Microsoft.AspNetCore.Mvc.RazorPages.PageBase;
@using System.Text.RegularExpressions;
@model AdminModel
@{
    ViewData["Title"] = "Admin Page";
}
@inject SQLStuff s
@if (HttpContext.Session.GetInt32("IsAdmin") == 1)
{
<h1>@ViewData["Title"]</h1>

<table>
    <thead><tr><td>User ID</td><td>Username</td><td>Email</td><td>Session ID</td><td>Session Token</td><td>Are they Admin?</td><td>Admin User</td><td>Delete User</td><td>Update User</td></tr></thead>
    <tbody>
        <!-- will look like below: -->
        <!--<tr><td>0</td><td>Dummy</td><td>dummy@gmail.com</td><td>true</td></tr>-->
        <!-- for loop to display sql table -->
        @{
            string[][] info = s.GrabAccountsTable();
            foreach(string[] row in info)
            {
                string updateurl = "/Update?userid="+row[0];
                Console.WriteLine(Convert.ToInt32(row[0]));
                <tr><td>@row[0]</td><td>@row[2]</td><td>@row[1]</td><td>@row[4]</td><td>@row[5]</td><td>@row[6]</td>
                @if (row[0] != "0" && row[0] != "-1")
                {
                    <td>
                    <form method="post" asp-page-handler="Admin">
                        <input type="hidden" name="userid" value="@row[0]" />
                        <button type="submit">Update Admin Status</button>
                    </form>
                    </td>
                    <td>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="userid" value="@row[0]" />
                        <button type="submit">Delete</button>
                    </form>
                    </td>
                    <td><a href=@updateurl>Update</a></td>
                }
                </tr>
            }
        }
    </tbody>
    </table>
}
else
{
    <h1>Nothing here!</h1>
    <p>Nothing at all! Nothing at all!</p>
}