@page
@using static Microsoft.AspNetCore.Mvc.RazorPages.PageBase;
@using Microsoft.Data.Sqlite;
@using System.Text.RegularExpressions;
@using System.Globalization
@inject SQLStuff s;
@model CommentsModel
@{
    ViewData["Title"] = "Comments";
}

<h1>@ViewData["Title"]</h1>

<div>
<form method="post">
    <fieldset>
            <textarea style="margin: auto; color: #111" rows="5" col="200" asp-for="Comment"></textarea>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>
</div>
<style>
    td 
    {
        border: 2px solid #FFF;
    }

    .lightmode td {
        border: 2px solid #000;
    }
</style>
<div class="commentsection">
<table>
    @{
        s.Init();
        var (usernames, comments, dates) = s.GrabComments();
        if(usernames.Length == 0)
        {
            <tr><td><b>No comments available...</b></td></tr>
        }
        else
        {
            for (int i = 0; i < usernames.Length; i++)
            {
                <tr><td><b>@usernames[i]</b> (@DateTime.ParseExact(dates[i], "yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture).ToString("MM/dd/yyyy h:mm:ss tt", CultureInfo.InvariantCulture))</td><td>@comments[i]</td></tr>
                //<div>@usernames[i] at @DateTime.ParseExact(dates[i], "yyyy-MM-dd HH:mm:ss", CultureInfo.InvariantCulture).ToString("MM/dd/yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</div> <div>@comments[i]</div>
            }
        }
}
</table>
</div>