@page
@model FunWebsiteThing.Pages.ProfileModel
<h1>@Model.Username's Profile</h1>
<h3>@Model.AccountType</h3>
<b>User ID: @Model.Id</b>
<b>Join Date: @Model.JoinDate</b>
<b>Comments: @Model.TotalComments</b>